#to-top {
  display: none;


}
@media (min-width: $phone-landscape) {
  #to-top {

  }
}
@media (min-width: $tablet-portrait) {
  #to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #56adc9;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;

    svg{
      display: block;
      width: 25px;
      transform: rotate(-90deg);
    }

    polyline{
      fill:none;
      stroke:#fff;
      stroke-width:6px;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-miterlimit:10;
    }

    line{
      fill:#FFFFFF;
      stroke:#fff;
      stroke-width:5px;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-miterlimit:10;
    }

    &.is-show{
      opacity: 1;
      visibility: visible;
    }

  }
}
@media (min-width: $tablet-landscape) {
  #to-top {
    right: calc( 50% - 473px);
  }
}
@media (min-width: $desktop) {
  #to-top {
    transition: background-color .3s ease, opacity .3s ease, visibility .3s ease;

    &:hover{
      background-color: #60c2e1;
    }

  }
}

